body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    padding: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    background: url('https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80') no-repeat center center;
    background-size: cover;
    transform: scale(1.1); 
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #FF71DC;
}

.grid-big {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,auto);
    grid-gap: 0px 40px;
}

.grid-small {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px 30px;
}

.main-text {
    grid-column: span 4;
    grid-column-start: 3;
    grid-column-end: 7;
    font-size: 85px;
    line-height: 85px;
    letter-spacing: -1px;
}

.double {
    grid-column: span 2;
}

.triple {
    grid-column: span 3;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
}


@media (max-width: 1400px) {
    .main-text {
        font-size: 80px;
        line-height: 80px;
    }
    body {
        font-size: 12px;
        line-height: 14px;
    }
    .grid-small {
        grid-template-columns: repeat(3,100px);
    }
}

@media (max-width: 1100px) {
    .grid-big {
        display: flex;
        flex-direction: column;
    }
    .grid-small {
        position: relative;
        grid-template-columns: repeat(4,auto);
        grid-gap: 10px 20px;
    }
    .main-text {
        font-size: 55px;
        line-height: 55px;
        margin-top: 20px;
    }
    .hard {
        font-weight: 800;
    }
    .double {
        grid-column: span 1;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        gap: 2px 8px;
        position: fixed;
        padding: 20px;
        margin-top: 20px; 
    }
}

@media (max-width: 670px) {
    .footer {
        position: relative;
        padding: 0px;
    }
}

@media (max-width: 570px) {
    .main-text {
        font-size: 50px;
        line-height: 50px;
    }
}

@media (max-width: 420px) {
    .grid-small {
        grid-template-columns: repeat(2,auto);
    }
    .main-text {
        font-size: 30px;
        line-height: 30px;
        margin-top: 50px;
    }
    .footer {
        position: fixed;
        padding: 20px;
    }
}

@media (max-width: 310px) {
    .footer {
        position: relative;
        padding: 0px;
    }
}