body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: -0.5px;
    background-color: #eaeaea;
    text-transform: uppercase;
    padding: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: rgb(255, 113, 220);
}

.grid-big {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,auto);
    grid-gap: 0px 40px;
}

.grid-small {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 15px 30px;
}

.main-text {
    grid-column: span 4;
    grid-column-start: 3;
    grid-column-end: 7;
    font-size: 85px;
    line-height: 85px;
    letter-spacing: -1px;
}

.double {
    grid-column: span 2;
}

.triple {
    grid-column: span 3;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
}